.User {
  padding: 16px;
  margin-bottom: 8px;
  font-size: 12px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.075);
  border-radius: 4px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.User:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.User .email {
  max-width: 145px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.User .btns {
  display: flex;
}

.User .btns > div {
  padding: 4px 8px;
  text-transform: uppercase;
  font-size: 8px;
}

.User .btns > div:first-child {
  margin-right: 4px;
}

.User .identity {
  display: flex;
  align-items: center;
}

.User .status {
  height: 7px;
  width: 7px;
  border-radius: 3.5px;
  background-color: greenyellow;
  margin-right: 8px;
}
