.main{
  padding: 10vh 25vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main section{
  width: 100%;
}

.status{
  text-align: left;
  display: flex;
  width: 100%;
  font-size: 12px;
  padding: 10px 0;
}

.status>div:last-child{
  margin-left: 8px;
  color: greenyellow;
}

.main>section>div:first-child{
  display: flex;
  width: 100%;
  margin-bottom: 16px;  
}

.config, .users{
  padding: 48px 32px;
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 4px;
  width: 100%;
  height: 600px;
}

.config{
  margin-right: 16px;  
}

.configList{
  display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 4%;
}

.titleSection{
  width: 100%;
  border-bottom: 1px solid rgba(255,255,255,0.15);
  padding-bottom: 16px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title{
  text-align: left;
}

.btnContainer{
  display: flex;
}

.edit, .save, .cancel, .primary{
  font-size: 10px;
  padding: 8px 16px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.cancel{
  padding-right: 0;
}

.save{
  background-color: white;
  color: black;
  opacity: 0.5;
}

.primary{
  background-color: white;
  color: black;
  border: 1px solid transparent;
}

.primary:hover{
  background-color: #1e1e1e;
  color: white;
  border: 1px solid white;
}

.save-valid{
  opacity: 1;
}

.edit{
  background-color: rgba(255,255,255,0.1);
}

.edit:hover{
  background-color: rgba(255,255,255,0.15);
}

.fieldContainer{
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.field{
  padding: 8px;
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 4px;
  background: rgba(255,255,255,0.1);
  color: #fff;
  font-size: 12px;
  outline: none;
  opacity: .5;
}

.field:focus{
  border: 1px solid rgba(255,255,255,0.65);
}

.field.field-changed{
  border-color: rgb(255, 221, 0);
}

.field.field-invalid{
  border-color: red;
}

.config-editing .field{
  opacity: 1;
}

.fieldContainer label{
  color: white;
  margin-bottom: 8px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.fieldContainer label span{
  font-size: 14px;
  margin-left: 8px;
}

.User{
  padding: 16px;
  margin-bottom: 8px;
  font-size: 12px;
  width: 100%;
  background-color: rgba(255,255,255,0.075);
  border-radius: 4px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.User:hover{
  background-color: rgba(255,255,255,0.1);
  cursor: pointer;
}

.User>div:first-child{
  max-width: 145px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.User .btns{
  display: flex;
}

.User .btns>div{
  padding: 4px 8px;
  text-transform: uppercase;
  font-size: 8px;
}

.User .btns>div:first-child{
  margin-right: 4px;
}

.Login{}

.Login .field{
  opacity: 1;
}

@media (max-width: 1000px) {
  .main>section>div:first-child{
    flex-direction: column;
  }

  .main>section>div:first-child section{
    margin-bottom: 16px;
    margin-right: 0;
  }

  .main{
    padding: 10vh 20vw;
  }
}

@media (max-width: 700px) {
  .main{
    padding: 10vh 5vw;
  }
}